<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Alvaro Trigo Lopez" />
        <meta name="description" content="fullPage One single section." />
        <meta name="keywords"  content="fullpage,One, Single, Section" />
        <meta name="Resource-type" content="Document" />
		<title>dryice</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        
		<link href="/styles/site.min.css" rel="stylesheet">
        <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="/styles/less/siteStyle.css" rel="stylesheet">
        <!--<link href="/js/fullpageJS/jquery.fullPage.css" rel="stylesheet">-->
		<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js" ></script>
		<script type="text/javascript" src="/bower_components/countUpJS/countUp.min.js" ></script>
		<!--<script src="/js/fullpageJS/jquery.fullPage.js"></script>-->
		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script type="text/javascript">
            $(function () {
                var winHeight = $(window).height();
                var bHeight = $("body").outerHeight(true);
                if (bHeight < winHeight) {
                    $("#div_footer").css({ "position": "fixed", "bottom": "0", "z-index": "500" });
                }
                else {
                    $("#div_footer").css({ "position": "static" });
                }
            });

            var options = {
                useEasing : true,
                useGrouping : true,
                separator : ',',
                decimal : '.',
                prefix : '',
                suffix : ''
            };
			
            var flag=1;
            
            $(window).scroll(function(){
				if($(window).scrollTop()==0){
                    $("#div_header").removeClass("fixed_header");
                    $(".navbar-brand img").attr("src","/images/ZGI/logo_company.png");
				}
                else {
                    $("#div_header").addClass("fixed_header");
					$(".navbar-brand img").attr("src","/images/ZGI/logo_companyblue.png");
                    
					if($(window).scrollTop()>=1000){
						if(flag==1){
							
							var scrollYear =new CountUp("span_year",0,1998,0,2.5,options);
							var scrollSale=new CountUp("span_sale",0,3000,0,2.5,options);
							var scrollProduce=new CountUp("span_produce",0,100,0,2.5,options);
							
							scrollYear.start();
							scrollSale.start();
							scrollProduce.start();
							
                            flag=0;
                        }
						
					}
				}
				
            })
            
			$(function(){
				$("#a_consult").click(function () {
                    scrollToAnchor("div_consult");
                })
				$("#a_companyIntro").click(function(){
                    scrollToAnchor("div_companyIntro");
				})
			})
			
            function scrollToAnchor(aid) {
                var aTag=$("#"+aid);
                $("html,body").animate({scrollTop:aTag.offset().top},"fast");
            }

			
			
		</script>

	</head>
	
	<body>
	
		{{> menu}}
		
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<!--<div class="container">-->
			<!--<div id="footer">-->
				<!--<p>Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.</p>-->
			<!--</div>-->
		<!--</div>-->
		<footer id="div_footer">
			<div class="container">
				<div class="row">
                    <div class="col-lg-2  col-md-4">
						<ul class="footer_nav">
							<p>导航</p>
							<li><a href="#">产品应用</a></li>
                            <li><a href="#">科普文档</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">在线购买</a></li>
						</ul>
					</div>
					<div class="col-lg-2  col-md-4">
                        <ul class="footer_nav" >
                            <p class="h4">产品</p>
                            <li><a href="#">食用干冰</a></li>
                            <li><a href="#">降温制冷</a></li>
                            <li><a href="#">干冰清洁</a></li>
                            <li><a href="#">舞台烟雾</a></li>
                        </ul>
					</div>
                    <div class="col-lg-2  col-md-4">
                        <ul class="footer_nav" >
                            <p class="h4">科普文档</p>
                            <li><a href="#">食用干冰</a></li>
                            <li><a href="#">降温制冷</a></li>
                            <li><a href="#">干冰清洁</a></li>
                            <li><a href="#">舞台烟雾</a></li>
                        </ul>
					</div>
                    <div class="col-lg-4 col-lg-offset-2  col-md-12">
                        <ul class="footer_nav">
                            <p class="h4">联系我们</p>
                            <li><a>上海振信有限公司</a></li>
                            <li><a>电话咨询：021-68466455</a></li>
                            <li><a>邮件咨询：zhenxingaisi@hotmail.com</a></li>
                            <li><a>公司传真：021-68486134</a></li>
                            <li><a>周一至周五：9:00~18:00</a></li>
						</ul>
					</div>
				</div>
				<p class="text-center copyright">Copyright © 2016 上海振信气体有限公司</p>
			</div>
		</footer>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<!--<script src="/js/jquery/jquery-1.11.3.min.js"></script>-->
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
